.imgCard {
    overflow: hidden;
    padding: 2.4rem 0;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCard>img {
    width: 72%;
    height: 72%;
    object-fit: cover;
}